.w3-theme-l5 {color:#000 !important; background-color:#f7f7fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#e4e4f0 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c8cae0 !important}
.w3-theme-l2 {color:#000 !important; background-color:#adafd1 !important}
.w3-theme-l1 {color:#fff !important; background-color:#9195c1 !important}
.w3-theme-d1 {color:#fff !important; background-color:#6368a7 !important}
.w3-theme-d2 {color:#fff !important; background-color:#555a97 !important}
.w3-theme-d3 {color:#fff !important; background-color:#4b4e85 !important}
.w3-theme-d4 {color:#fff !important; background-color:#404372 !important}
.w3-theme-d5 {color:#fff !important; background-color:#35385f !important}

.w3-theme-light {color:#000 !important; background-color:#f7f7fa !important}
.w3-theme-dark {color:#fff !important; background-color:#35385f !important}
.w3-theme-action {color:#fff !important; background-color:#35385f !important}

.w3-theme {color:#fff !important; background-color:#777bb3 !important}
.w3-text-theme {color:#777bb3 !important}
.w3-border-theme {border-color:#777bb3 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#777bb3 !important}
.w3-hover-text-theme:hover {color:#777bb3 !important}
.w3-hover-border-theme:hover {border-color:#777bb3 !important}