<template>
  <div class="w3-display-middle w3-center">
    <font-awesome-icon
      :icon="['fas', 'spinner']"
      v-if="fortune === undefined"
      size="6x"
      spin
      data-test-id="loading"
    />
    <div
      class="app-fortune-card app-fortune-card-pointer"
      v-if="fortune !== undefined"
      v-on:click="loadFortune"
      data-test-id="fortuneContainer"
    >
      <div class="app-fortune-card-body w3-left-align">
        <pre data-test-id="fortuneText">{{ fortune }}</pre>
      </div>
      <div class="w3-button w3-block w3-container w3-theme-d2 app-fortune-card-footer">
        Click on the fortune to load a new one
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSpinner } from "@fortawesome/free-solid-svg-icons";
import { fortuneService } from "../services/fortune.service";
import { useErrorStore } from "../stores/error.store";

library.add(faSpinner);

const fortune = ref<string | undefined>(undefined);

const errorStore = useErrorStore();

onMounted(async () => {
  loadFortune();
});

async function loadFortune(): Promise<void> {
  try {
    fortune.value = undefined;
    fortune.value = await fortuneService.getFortune();
  } catch (err) {
    console.error(err);
    errorStore.setErrorMessage(`${err}`);
  }
}
</script>

<style lang="scss">
$app-fortune-card-padding: 10px;

.app-fortune-card {
  box-shadow: 2px 2px 6px 0px;
  padding: $app-fortune-card-padding;
}

.app-fortune-card-pointer:hover {
  cursor: pointer;
}

.app-fortune-card-body {
  overflow-y: auto;
  font-size: 2.1vw;
}
.app-fortune-card-body p {
  margin-top: 0px;
}

.app-fortune-card-footer {
  font-size: 1vw;
}
</style>
