<template>
  <div class="app-oracle-container">
    <div
      class="app-oracle-container"
      v-if="answer === null"
      v-on:mousedown.prevent="listen"
      v-on:touchstart.prevent="listen"
      v-on:mouseup.prevent="load(theWindow.innerHeight / theWindow.innerWidth)"
      v-on:touchend.prevent="load(theWindow.innerHeight / theWindow.innerWidth)"
      data-test-id="button"
    >
      <div class="w3-display-middle w3-center">
        <font-awesome-layers class="fa-6x">
          <font-awesome-icon
            :icon="['fas', 'microphone']"
            transform="shrink-7"
            v-if="!loading"
            data-test-id="microphone"
          />
          <font-awesome-icon
            :icon="['fas', 'spinner']"
            class="app-invisible"
            v-if="!listening && !loading"
            data-test-id="invisibleSpinner"
          />
          <font-awesome-icon
            :icon="['fas', 'spinner']"
            v-if="listening || loading"
            spin
            data-test-id="spinner"
          />
        </font-awesome-layers>
        <div class="app-oracle-text">Press and hold... and ask a Yes/No question</div>
      </div>
    </div>
    <div
      class="app-oracle-container app-oracle-answer-container"
      v-bind:style="[{ 'background-image': 'url(' + answer.gifUrl + ')' }]"
      v-if="answer !== null"
      v-on:click="restart"
      data-test-id="answerContainer"
    >
      <div class="app-oracle-answer w3-display-middle w3-center">{{ answer.answer }}</div>
      <div class="w3-display-bottomright w3-display-container">
        <div class="w3-right w3-margin-right" data-test-id="answerAuthor">{{ answer.author }}</div>
        <div>
          <a v-bind:href="answer.giphyUrl" data-test-id="answerGiphyUrl">
            <img
              src="../assets/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif"
              alt="Powered by Giphy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faMicrophone, faSpinner } from "@fortawesome/free-solid-svg-icons";
import { oracleService } from "../services/oracle.service";
import { useErrorStore } from "../stores/error.store";
import type { OracleAnswer } from "@/services/OracleAnswer";

const minimalListenTime = 1000;

library.add(faMicrophone, faSpinner);

const errorStore = useErrorStore();

const theWindow = ref(window);
const listening = ref<boolean>(false);
const loading = ref<boolean>(false);
const answer = ref<OracleAnswer | null>(null);
const lastPressTime = ref<number>(0);

function listen() {
  listening.value = true;
  lastPressTime.value = Date.now();
}

async function load(ratio: number): Promise<void> {
  try {
    listening.value = false;
    const currentPressTime = Date.now();
    const elapsed = currentPressTime - lastPressTime.value;
    if (elapsed < minimalListenTime) {
      return;
    }
    loading.value = true;
    const response = await oracleService.getResponse(ratio);
    answer.value = response;
  } catch (err) {
    errorStore.setErrorMessage(`${err}`);
  } finally {
    loading.value = false;
  }
}

function restart() {
  answer.value = null;
}
</script>
<style lang="scss">
.app-oracle-container {
  height: 100%;
  position: relative;
}

.app-oracle-text {
  font-size: 2vw;
}

.app-oracle-answer-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-oracle-answer {
  font-size: 27vw;
}
</style>
